<template>
  <div>
    <h1>About</h1>
    <router-link style="color: #333" to="/">Go back</router-link>
  </div>
</template>

<script>
export default {
  name: "About",
};
</script>

<style scoped>
div {
  text-align: center;
}
</style>
