<template>
  <AddTask v-if="isShowAddTask" @add-task="handleAddTask" />
  <p style="text-align: center" v-if="this.tasks.length === 0">Loading...</p>
  <Task
    @click-task="handleClickTask"
    @delete-task="deleteTask"
    :tasks="tasksSetUp"
  />
</template>

<script>
import Task from "../components/Task.vue";
import AddTask from "../components/AddTask.vue";
import { ref, onMounted, toRefs, watch } from "vue";

export default {
  name: "Home",
  components: {
    Task,
    AddTask,
  },
  props: {
    isShowAddTask: Boolean,
  },
  setup(props) {
    const tasksSetUp = ref([]);

    const fetchDataSetUp = async () => {
      const res = await fetch("api/data");
      tasksSetUp.value = await res.json();
    };

    onMounted(fetchDataSetUp);

    return {
      fetchDataSetUp,
      tasksSetUp,
    };
  },
  data() {
    return {
      tasks: [],
      firstName: "",
      seen: true,
    };
  },
  methods: {
    handleInput(e) {
      this.firstName = e.target.value;
    },
    async fetchData() {
      const res = await fetch("api/data");
      const data = await res.json();
      return data;
    },
    async deleteTask(data) {
      if (confirm("Are you sure want to delete?")) {
        const res = await fetch(`api/data/${data.id}`, {
          method: "DELETE",
          headers: {
            "Content-type": "application/json",
          },
        });
        if (res.status === 200) {
          window.location.reload();
        }
      }
    },
    async handleClickTask(data) {
      this.tasks = this.tasks.map((mapping) =>
        mapping.id === data.id
          ? { ...mapping, reminder: !mapping.reminder }
          : mapping
      );

      let findTempData = this.tasks.find((finding) => finding.id === data.id);

      const res = await fetch(`api/data/${data.id}`, {
        method: "PUT",
        headers: {
          "Content-type": "application/json",
        },
        body: JSON.stringify(findTempData),
      });

      const result = await res.json();

      if (res.status === 200) {
        this.tasks = this.tasks.map((mapping) =>
          mapping.id === data.id
            ? { ...mapping, reminder: result.reminder }
            : mapping
        );
      }
    },
    async handleAddTask(data) {
      const res = await fetch("api/data", {
        method: "POST",
        headers: {
          "Content-type": "application/json",
        },
        body: JSON.stringify(data),
      });
      if (res.status === 201) {
        window.location.reload();
      }
    },
  },
};
</script>
