<template>
  <header>
    <h1>{{ title }}</h1>
    <Button
      v-show="homePage"
      @handleClick="$emit('handleClick')"
      :text="isShowAddTask ? 'Close' : 'Add Task'"
      :color="isShowAddTask ? 'red' : 'green'"
    />
  </header>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: "Header",
  components: {
    Button,
  },
  props: {
    title: String,
    isShowAddTask: Boolean,
  },
  computed: {
    homePage() {
      if (this.$route.path === "/") {
        return true;
      } else {
        false;
      }
    },
  },
};
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>
