<template>
  <div
    @click="$emit('click-task', data)"
    :class="[data.reminder ? 'reminder' : '', 'task']"
    :key="data.id"
    v-for="data in tasks"
  >
    <h3>
      {{ `${data.text} ${data.id}` }}
      <i @click="$emit('delete-task', data)" class="fas fa-times"></i>
    </h3>
    <p>{{ data.day }}</p>
  </div>
</template>

<script>
export default {
  name: "Task",
  props: {
    tasks: Array,
  },
};
</script>

<style scoped>
.fas {
  color: red;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.task.reminder {
  border-left: 5px solid green;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
